<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Test1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.techtutorial.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.techtutorial.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>cn.techtutorial.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityInDec</display-name>
    <servlet-name>QuantityInDec</servlet-name>
    <servlet-class>cn.techtutorial.servlet.QuantityInDec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityInDec</servlet-name>
    <url-pattern>/QuantityInDec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSe</display-name>
    <servlet-name>RemoveSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.RemoveSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSe</servlet-name>
    <url-pattern>/RemoveSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderSe</display-name>
    <servlet-name>OrderSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.OrderSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSe</servlet-name>
    <url-pattern>/OrderSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutSe</display-name>
    <servlet-name>CheckoutSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.CheckoutSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutSe</servlet-name>
    <url-pattern>/CheckoutSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailSe</display-name>
    <servlet-name>DetailSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.DetailSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailSe</servlet-name>
    <url-pattern>/DetailSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDao</display-name>
    <servlet-name>CategoryDao</servlet-name>
    <servlet-class>cn.techtutorial.dao.CategoryDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDao</servlet-name>
    <url-pattern>/CategoryDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderSe</display-name>
    <servlet-name>CancelOrderSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.CancelOrderSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderSe</servlet-name>
    <url-pattern>/CancelOrderSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToProduct</display-name>
    <servlet-name>AddToProduct</servlet-name>
    <servlet-class>cn.techtutorial.servlet.AddToProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToProduct</servlet-name>
    <url-pattern>/AddToProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeSe</display-name>
    <servlet-name>HomeSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.HomeSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSe</servlet-name>
    <url-pattern>/HomeSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailPr</display-name>
    <servlet-name>DetailPr</servlet-name>
    <servlet-class>cn.techtutorial.servlet.DetailPr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPr</servlet-name>
    <url-pattern>/DetailPr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategorySe</display-name>
    <servlet-name>CategorySe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.CategorySe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorySe</servlet-name>
    <url-pattern>/CategorySe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategorySer</display-name>
    <servlet-name>CategorySer</servlet-name>
    <servlet-class>cn.techtutorial.servlet.CategorySer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorySer</servlet-name>
    <url-pattern>/CategorySer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPr</display-name>
    <servlet-name>SearchPr</servlet-name>
    <servlet-class>cn.techtutorial.servlet.SearchPr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPr</servlet-name>
    <url-pattern>/SearchPr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComfirmSe</display-name>
    <servlet-name>ComfirmSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.ComfirmSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComfirmSe</servlet-name>
    <url-pattern>/ComfirmSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSe</display-name>
    <servlet-name>RegisterSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.RegisterSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSe</servlet-name>
    <url-pattern>/RegisterSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FpServlet</display-name>
    <servlet-name>FpServlet</servlet-name>
    <servlet-class>cn.techtutorial.servlet.FpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FpServlet</servlet-name>
    <url-pattern>/FpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToPr</display-name>
    <servlet-name>AddToPr</servlet-name>
    <servlet-class>cn.techtutorial.servlet.AddToProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToPr</servlet-name>
    <url-pattern>/AddToPr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComfirmOrder</display-name>
    <servlet-name>ComfirmOrder</servlet-name>
    <servlet-class>cn.techtutorial.servlet.ComfirmOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComfirmOrder</servlet-name>
    <url-pattern>/ComfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>cn.techtutorial.model.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongTinKH</display-name>
    <servlet-name>ThongTinKH</servlet-name>
    <servlet-class>cn.techtutorial.servlet.ThongTinKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongTinKH</servlet-name>
    <url-pattern>/ThongTinKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TKSe</display-name>
    <servlet-name>TKSe</servlet-name>
    <servlet-class>cn.techtutorial.servlet.TKSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TKSe</servlet-name>
    <url-pattern>/TKSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>cn.techtutorial.servlet.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCate</display-name>
    <servlet-name>SearchCate</servlet-name>
    <servlet-class>cn.techtutorial.servlet.SearchCate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCate</servlet-name>
    <url-pattern>/SearchCate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Banner</display-name>
    <servlet-name>Banner</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Banner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Banner</servlet-name>
    <url-pattern>/Banner</url-pattern>
  </servlet-mapping>
</web-app>